body {
    background-color: #faf8f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    gap: 40px; 
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  
  .box {
    width: 500px; 
    height: 600px; 
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
}

.image-box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 12px; 
}

  
  .text-box {
    flex-direction: column;
    width: 55%;
    
  }
  
  .text-box h2 {
    color: #FF5E5E;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding: 50px;
    padding-bottom: 0px;
    margin-bottom: 15px;
  }
  
  .text-box p {
    color: #FF5E5E;
    line-height: 1.6;
    text-align: left;
    padding: 50px;
    padding-top: 0px;
    font-size: 16px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FF5E5E;
    border: 2px solid #FF5E5E;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-left: 250px;
  }
  
  .cta-button:hover {
    background: #FF5E5E;
    color:rgb(255, 255, 255);
  }

  @media only screen and (max-width: 600px){
    .text-box{
        width: 90%;
    }
  }

  @media only screen and (max-width: 1200px){
    .text-box{
        width: 80%;
    }
    .image-box{
        display: none;
    }
  }