.container {
	background: var(--beige);
	min-height: 100vh; /* Ensures it covers the whole viewport */
	padding: 50px;
}

.widthContainer {
	display: block;
	width: 70%;
	margin: auto;
}

.header {
	display: inline-block;
	min-width: 50px;
	font: 800 20px var(--fontTitle);
	color: var(--greenDark);
	padding: 10px 30px;
	margin-bottom: 50px;
	border: 2px solid var(--greenDark);
	border-radius: 30px;
}

.formContainer {
	display: block;
	min-width: 50px;
	background: var(--white);
	padding: 50px;
	margin: auto;
	border-radius: 20px;
	box-shadow: 2px 2px 4px var(--softBlack);
}