/* Wrapper for each routine */
.routine-wrapper {
    margin-bottom: 20px;
  }
  
  .routine-date {
    font-size: 25px;
    color: var(--redDark);
    margin-bottom: 10px;
    margin-left: 3%;
    margin-top:3%;
  }
  
  .routine-container {
    display: flex;
    background: #fff7f7;
    border: 2px solid #ff7a7a;
    border-radius: 12px;
    padding: 20px;
    width: 91%;
    margin-left:3%;
    margin-right:2%;
    flex-wrap:nowrap;
    margin: 0 auto;

  }
  
  .routine-section {
    flex: 1;
    padding: 16px;
  }
  
  .day-routine {
    border-right: 2px solid #ffabab;
  }
  
  .routine-header {
    display: flex;
    justify-content: center;
    padding: 6px 16px;
    border: 2px solid var(--redDark);
    border-radius: 24px;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    color: var(--redDark);
  }

  .routine-list {
    margin-top: 5%;
    padding: 0;
    margin-left: 5%;
    color: var(--redDark);
    margin-bottom: 6px;
    font-size:18px;
  }

  @media only screen and (max-width: 1200px) {
    .routine-wrapper {
      padding: 0 30px;
    }
  }

  @media only screen and (max-width: 700px) {
    .routine-date {
      font-size: 20px;
      margin-left: 40px;
    }

    .routine-container {
        flex-wrap: wrap; /* Change to wrap */
        width:80%;
    }

    .routine-section {
        flex: 1 1 80%; /* Allow sections to take full width */
    }

    .day-routine {
        border-right: none; /* Optional: Remove border in small screens */
    }

    .routine-wrapper {
      padding: 0;
    }
}

